* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px; /* Adjust size as needed */
    height: auto;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover; /* Changed from 'contain' to 'cover' */
}
